<!DOCTYPE html>
<html>
<head>
	<title>Samuel Robinsón</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.rateyo.css"/>
	<link rel="stylesheet" type="text/css" href="inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
	<link rel="shortcut icon" href="./images/logo.jpg" type="image/x-icon">
</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:etsamuelrobinsonlasalinasur@gmail.com" itemprop="email"><i class="fas fa-envelope"></i>etsamuelrobinsonlasalinasur@gmail.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+5804240000000" itemprop="telephone"><i class="fas fa-phone"></i> +58 04240000000</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="/auth/login">Iniciar sesión</a>
						</div>
					</div>
				</div>
			</div>

			<div class="main-header">
				<div class="container">
					<div style="display:flex;">
						<a href="/">
							<img src="./images/logo.jpg" alt="" style="height: 90px;">
						</a>
						<h1 style=" padding:15px;">Escuela Técnica Samuel Robinson</h1>
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="#">Noticias</a></li>
								<li><a href="#">Estudiantes</a></li>
								<li><a href="http://localhost/login/index.php">Entorno Virtual Samuel Robinson</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="banner">
			<div class="owl-four owl-carousel">
				<img src="./images/samuel-robinson.jpg" style="height: 540px;">
			</div>
			<div class="container" itemprop="description">
				<h1 style="color: rgba(0, 0, 0, 0.897) ;">Portal web samuel robinsón</h1>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2 class="top-heading">Reseña historica</h2>
					<p>La ESCUELA TÉCNICA SAMUEL ROBINSÓN surgio en el año "2000", como respuesta
						a las necesidades de crear ua institución de tercera etapa de educación
						básica en los sectores aledaños a la refineria el Palito y así como un
						grupo de personas interesadas de la comunidad de Unión de "Petróleo de 
						Venezuela S.A" (PDVSA) suscriben un convenio con el ministerio Cultura y 
						Deporte dando en cómo datos una infraestructura de muy alta calidad y de 
						esta manera de cumplimiento a su politica de inversión social dirigida a 
						la educación de los jovenes de la localidad.</p>
				</article>
				<div class="our-story">
					<img src="./images/samuel.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2 class="top-heading">Visión</h2>
					<p>Contribuir en el desarrollo social, economicó, productivo y cultural de
						todo. El municipio Puerto Cabello, mediante la formación de un undividuo
						apto para la convivencia social, la vida en democracia y en libertad a través
						del fortalecimiento de la identidad nacional, reginal y local. El valor al 
						trabajo y a la unión familiar basada en el respeto, la tolerancia, el
						amor y la responsabilidad.</p>
				</article>
				<div class="our-story">
					<article class="who-we-are">
						<h2 class="top-heading">Misión</h2>
						<p>Formar hombres y mujeres de pensamientos criticos, humanistas aptos para 
							el trabajo productivo y social, aptos para la vida en democracia y en 
							libertad.</p>
					</article>
				</div>
			</div>
		</section>

		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container"></div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; educationpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">Lab Theme</a></p>
				</div>
			</div>
		</footer>

	</div>
	<script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="javascripts/lightbox.js"></script>
	<script type="text/javascript" src="javascripts/all.js"></script>
	<script type="text/javascript" src="javascripts/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="javascripts/owl.carousel.js"></script>
	<script type="text/javascript" src="javascripts/jquery.flexslider.js"></script>
	<script type="text/javascript" src="javascripts/jquery.rateyo.js"></script>
	<script type="text/javascript" src="javascripts/custom.js"></script>
</body>
</html>